.th-cart {
	margin-top: 5px;
	margin-bottom: 5px;
	color: white;
	background-color: rgb(16, 214, 165);
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 200px;
	border-radius: 30px;
}
.th-cart > button {
	text-align: center;
	border: none;
	text-decoration: none;
	cursor: pointer;
}
.th-cart-add-button {
	margin-left: 32px;
	cursor: pointer;
}

.th-cart-toggle-button {
	background: white;
	cursor: pointer;
	color: black;
	border-radius: 15px;
	padding: 20px 30px;
	font-size: 16px;
}
.empty-cart {
	margin-top: 45px;
	color: red;
	font-size: 16px;
	font-weight: bold;
}
ul {
	list-style-type: none;
	list-style-position: inside;
	border: 2px solid white;
	padding: 5px;
	margin-right: 0px;
}
.th-cart-closed {
	padding: 32px;
	width: 200px;
}
.flush-cart {
	margin-left: 15px;
	cursor: pointer;
	font-size: 15px;
}
.th-cart-closed > button {
	color: black;
	background-color: #31b572;
	border: none;
	padding: 15px 32px;
	text-align: center;
	font-size: 16px;
}

.th-cart-closed > button:hover {
	background-color: rgb(16, 214, 165);
}