.th-footer {
	color: black;
	padding: 32px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	font-weight: 250;
	background-color: rgb(129, 221, 129);
}

.th-footer-elem {
	margin-top: 10px;
}

input[type = email] {
	padding: 10px 20px;
	margin: 8px;
	box-sizing: border-box;
	border: none;
	border-radius: 5px;
}

.th-footer-elem button {
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}